.container {
    display: flex;
    align-content: center;
    text-align: center;
}

.formulario {
    display: block;
    background: wheat;
    margin: auto;
    width: 220px;
}

button {
    width: 70px;
}

#idJson {
    height: 92px;
}